@media (prefers-color-scheme: dark) {
  :root {
    --bg: #010101;
    --text: #ffffff;
    --subtext: #a3a2a7;
    --linktext: #0c79ff;
    --underline: #313133;
    --sectionbg: #1c1c1e;
    --buttoncolor: #0c79ff;
    --buttonbgcolor: #1c1c1e;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f2f1f6;
    --text: #000000;
    --subtext: #7d7d7f;
    --linktext: #0c79ff;
    --underline: #dedede;
    --sectionbg: #ffffff;
    --buttoncolor: #0c79ff;
    --buttonbgcolor: #ffffff;
  }
}

body {
  font-family: "Helvetica";
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  box-sizing: border-box;
  margin: 40px 0 20px 0;
  display: grid;
  grid-template-areas:
    "img title"
    "img subtitile";
  width: 320px;
  column-gap: 20px;
  row-gap: 10px;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--sectionbg);
}

.header__avatar {
  border-radius: 50%;
  grid-area: img;
  width: 80px;
  height: 80px;
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
  grid-area: title;
  align-items: center;
}

.header__subtitle {
  color: var(--subtext);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  grid-area: subtitile;
}

.links {
  width: 350px;
  margin-bottom: 20px;
}

.links__header {
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
  font-family: "Helvetica Neue";
}

.links__container {
  list-style-type: none;
  background: var(--sectionbg);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid var(--underline);
  width: 320px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: var(--linktext);
}

.links__title {
  margin: 0;
  min-width: 100px;
}

.linsk__link:hover {
  color:#FFD700;
}
.header__avatar:hover {
  border: 3px solid #FFD700;
}
.button-link {
  height: 42px;
  border: none;
  background: #313133;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
}
.button-link:hover {
  background: rgba(0,0,0,0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.p1 {
  margin: 25px 0px 0px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  font-family: "Helvetica Neue";
  grid-area: title;
  align-items: center;
  color: #7FFFD4;
}